

.main{
  
  width:25%;
  border: 2px black solid;
  margin: 10px;
  
}
.your{
  background-color: #ad145a;
  color: white;
 margin-right: 10%;
 text-align: center;
 
 padding-left:10px  ;
 padding: 10px;
 
 border-radius: 6%;
}
.our{
  color: #ad145a;
  border-radius: 6%;
  border-color: #ad145a;
  
  
width: 40%;
height: 40px;
background-color: white;
  
  
}
.rr{
  color: black;
}
.ww{
  height: 10px;
  
}
.tt{
  color: rgba(0,0,0,.54);
}
.vv{
  border: 2px solid black;
  width: 25%;
  margin: 10px;
}
.qq{
  
}
.pop{
  display: flex;
  justify-content: space-around;
}
.bc{
  padding-bottom: 20%;
  color: rgba(0,0,0,.54);

}
.oo{
  padding: 20px;
}
.mm{
  color: blue;
}

.me{
  color: rgba(0,0,0,.54); 
  padding-bottom:5% ;

}
.fight{
  border: 2px solid black;
  width:25% ;
  margin: 10px;
  

}
.lol{
  margin: 15px;
}
.okk{
  margin: 15px;
}
.pppp{
margin: 15px;
}